body{
    width: 100%;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background-color: black;
  }
  
  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    overflow: hidden;
    border: #32a0c2 3px solid;
    box-shadow: 5px 8px #353637;
    background-color: lightslategrey;
  }
  
  #showcase {
    text-align: center;
    color: #fcfcfc;
  }
  
  #showcase label{
    padding-right: 5px; 
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
  }
  #showcase h1{
    margin-top: 70px;
    font-size: 50px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #000000;
    color: goldenrod;
  }
  #showcase p{
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000
  }
  
  #input{
    height: 28px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    text-align: right;
    margin-left: -4px;
    margin-top: 10px;
    font-weight: 530;
  }

  /****Run Check BUTTON*****/
  #checkBtn{
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.589) ;
    color: goldenrod;
    font-size: 20px;
    padding: 20px 50px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 1px;
  }
  #checkBtn:hover{
    color: #32a0c2;
    background-color: green;
    font-weight: bolder;
  }
  
    
  /********RESPONSIVENESS********/
  @media(max-width: 750px) { /* Valid for screen sizes with max width of 750 pixel*/
    #showcase h1{
      margin-top: 40px;
      font-size: 40px;
    }
  }